section .body{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.six-pic{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background: rgb(218, 195, 195);
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 5px;
}

img {
    width: 80px;
    height: 150px;
    border-radius: 8px;
}

.pics{
    display: flex;
    justify-content: space-between;
}

.add-post{
    /* margin: 10rem; */
    width:30rem;
    height: 3rem;
    display: flex;
    background: grey;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
    
}
.add-post ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
/* .add-post ul li{
    justify-content: space-between;
    
    
} */
.add-post ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex: 1;
}


.add-post ul li input{
    flex: 3;
}

.add-post ul li i{
    flex: 1;
}

.posts{
    display: flex;
    flex-direction: column;
    background: red;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.posts img{
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center;
}